@import './../../style/vars.scss';
.cart {
    padding-bottom: 50px;
    background-color: $cartBg;
}

.cartTitle {
    height: 2rem;
    line-height: 2rem;
    text-align: right;
    padding: 3px;
    .Button {
        vertical-align: middle;
    }
}

.cartList {
    background-color: #ffffff;
    .cartRow {
        padding: 8px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        .goodImage {
            flex: 6;
            align-items: center;
        }
        .cartText {
            flex: 14;
            .goodControl {
                padding-top: 20px;
            }
        }
        .goodPrice {
            flex: 4;
            line-height: 26px;
            .allPrice {
                color: red;
            }
        }
    }
}

.allMoney {
    box-sizing: border-box;
    position: fixed;
    bottom: 52px;
    text-align: right;
    padding-right: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 4px #eeeeee;
    color: red;
    width: 100%;
    height: 50px;
    line-height: 50px;
}